ssh/
!config/ssh/config

config/vim/my_plugins/

express_vpn*

test*
*.pid

**/Database
**/logs

config/vim/temp_dirs/undodir/*
config/vim/sources_non_forked/ack.vim/.netrwhist
config/vim/temp_dirs/yankring_history_v2.txt
config/vim/sources_forked/yankring/doc/tags
config/vim/sources_non_forked/tlib/doc/tags
config/vim/sources_non_forked/ctrlp.vim/doc/tags*

config/vim/my_plugins/vim-expand-region/docs/tags
.DS_Store
.vscode

paru/

install/brew/Brewfile.lock.json