[submodule "config/vim/my_plugins/gotags"]
	path = config/vim/my_plugins/gotags
	url = https://github.com/jstemmer/gotags
[submodule "config/vim/my_plugins/vim-lsp"]
	path = config/vim/my_plugins/vim-lsp
	url = https://github.com/prabirshrestha/vim-lsp.git
[submodule "config/vim/my_plugins/ctrlp"]
	path = config/vim/my_plugins/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "config/vim/my_plugins/vim-airline-themes"]
	path = config/vim/my_plugins/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "config/vim/my_plugins/vim-lsp-settings"]
	path = config/vim/my_plugins/vim-lsp-settings
	url = https://github.com/mattn/vim-lsp-settings.git
[submodule "config/vim/my_plugins/vim-nerdtree-syntax-highlight"]
	path = config/vim/my_plugins/vim-nerdtree-syntax-highlight
	url = https://github.com/tiagofumo/vim-nerdtree-syntax-highlight.git
[submodule "config/vim/my_plugins/Vundle"]
	path = config/vim/my_plugins/Vundle
	url = https://github.com/gmarik/Vundle.vim.git
[submodule "config/vim/my_plugins/vim-devicons"]
	path = config/vim/my_plugins/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons.git
[submodule "config/vim/my_plugins/tagbar"]
	path = config/vim/my_plugins/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "config/vim/my_plugins/vim-go"]
	path = config/vim/my_plugins/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "config/vim/my_plugins/vim-vue-plugin"]
	path = config/vim/my_plugins/vim-vue-plugin
	url = https://github.com/leafOfTree/vim-vue-plugin.git
[submodule "config/vim/my_plugins/vim-gitgutter"]
	path = config/vim/my_plugins/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "config/vim/my_plugins/syntastic"]
	path = config/vim/my_plugins/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "config/vim/my_plugins/vim-rainbow"]
	path = config/vim/my_plugins/vim-rainbow
	url = https://github.com/frazrepo/vim-rainbow.git
[submodule "config/vim/my_plugins/vim-airline"]
	path = config/vim/my_plugins/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "config/vim/my_plugins/indentpython"]
	path = config/vim/my_plugins/indentpython
	url = https://github.com/vim-scripts/indentpython.vim.git
[submodule "config/vim/my_plugins/jedi-vim"]
	path = config/vim/my_plugins/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "config/vim/my_plugins/nerdtree"]
	path = config/vim/my_plugins/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "config/vim/my_plugins/oceanic-next"]
	path = config/vim/my_plugins/oceanic-next
	url = https://github.com/mhartington/oceanic-next.git
[submodule "config/vim/my_plugins/vim-fugitive"]
	path = config/vim/my_plugins/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "config/vim/my_plugins/minibufexpl"]
	path = config/vim/my_plugins/minibufexpl
	url = https://github.com/fholgado/minibufexpl.vim.git
[submodule "config/vim/my_plugins/vim-surround"]
	path = config/vim/my_plugins/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "config/vim/my_plugins/nerdtree-git-plugin"]
	path = config/vim/my_plugins/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
[submodule "config/vim/my_plugins/vim-flake8"]
	path = config/vim/my_plugins/vim-flake8
	url = https://github.com/nvie/vim-flake8.git
[submodule "config/vim/my_plugins/tabnine-vim"]
	path = config/vim/my_plugins/tabnine-vim
	url = https://github.com/zxqfl/tabnine-vim.git
[submodule "config/vim/my_plugins/vim-nerdtree-tabs"]
	path = config/vim/my_plugins/vim-nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
[submodule "config/vim/my_plugins/auto-pairs"]
	path = config/vim/my_plugins/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs
[submodule "config/vim/my_plugins/ale"]
	path = config/vim/my_plugins/ale
	url = https://github.com/dense-analysis/ale
[submodule "config/vim/my_plugins/vim-yankstack"]
	path = config/vim/my_plugins/vim-yankstack
	url = https://github.com/maxbrunsfeld/vim-yankstack
[submodule "config/vim/my_plugins/ack"]
	path = config/vim/my_plugins/ack
	url = https://github.com/mileszs/ack.vim
[submodule "config/vim/my_plugins/bufexplorer"]
	path = config/vim/my_plugins/bufexplorer
	url = https://github.com/jlanzarotta/bufexplorer
[submodule "config/vim/my_plugins/mayansmoke"]
	path = config/vim/my_plugins/mayansmoke
	url = https://github.com/vim-scripts/mayansmoke
[submodule "config/vim/my_plugins/nginx"]
	path = config/vim/my_plugins/nginx
	url = https://github.com/chr4/nginx.vim
[submodule "config/vim/my_plugins/open_file_under_cursor"]
	path = config/vim/my_plugins/open_file_under_cursor
	url = https://github.com/amix/open_file_under_cursor.vim
[submodule "config/vim/my_plugins/tlib_vim"]
	path = config/vim/my_plugins/tlib_vim
	url = https://github.com/tomtom/tlib_vim
[submodule "config/vim/my_plugins/vim-addon-mw-utils"]
	path = config/vim/my_plugins/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils
[submodule "config/vim/my_plugins/vim-bundle-mako"]
	path = config/vim/my_plugins/vim-bundle-mako
	url = https://github.com/sophacles/vim-bundle-mako
[submodule "config/vim/my_plugins/vim-coffee-script"]
	path = config/vim/my_plugins/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script
[submodule "config/vim/my_plugins/vim-colors-solarized"]
	path = config/vim/my_plugins/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "config/vim/my_plugins/vim-indent-object"]
	path = config/vim/my_plugins/vim-indent-object
	url = https://github.com/michaeljsmith/vim-indent-object
[submodule "config/vim/my_plugins/vim-less"]
	path = config/vim/my_plugins/vim-less
	url = https://github.com/groenewege/vim-less
[submodule "config/vim/my_plugins/vim-pyte"]
	path = config/vim/my_plugins/vim-pyte
	url = https://github.com/therubymug/vim-pyte
[submodule "config/vim/my_plugins/vim-snipmate"]
	path = config/vim/my_plugins/vim-snipmate
	url = https://github.com/garbas/vim-snipmate
[submodule "config/vim/my_plugins/vim-snippets"]
	path = config/vim/my_plugins/vim-snippets
	url = https://github.com/honza/vim-snippets
[submodule "config/vim/my_plugins/vim-expand-region"]
	path = config/vim/my_plugins/vim-expand-region
	url = https://github.com/terryma/vim-expand-region
[submodule "config/vim/my_plugins/vim-multiple-cursors"]
	path = config/vim/my_plugins/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors
[submodule "config/vim/my_plugins/vim-rhubarb"]
	path = config/vim/my_plugins/vim-rhubarb
	url = https://github.com/tpope/vim-rhubarb
[submodule "config/vim/my_plugins/goyo"]
	path = config/vim/my_plugins/goyo
	url = https://github.com/junegunn/goyo.vim
[submodule "config/vim/my_plugins/vim-zenroom2"]
	path = config/vim/my_plugins/vim-zenroom2
	url = https://github.com/amix/vim-zenroom2
[submodule "config/vim/my_plugins/vim-repeat"]
	path = config/vim/my_plugins/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "config/vim/my_plugins/vim-commentary"]
	path = config/vim/my_plugins/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "config/vim/my_plugins/gruvbox"]
	path = config/vim/my_plugins/gruvbox
	url = https://github.com/morhetz/gruvbox
[submodule "config/vim/my_plugins/vim-pug"]
	path = config/vim/my_plugins/vim-pug
	url = https://github.com/digitaltoad/vim-pug
[submodule "config/vim/my_plugins/lightline.vim"]
	path = config/vim/my_plugins/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule "config/vim/my_plugins/lightline-ale"]
	path = config/vim/my_plugins/lightline-ale
	url = https://github.com/maximbaz/lightline-ale
[submodule "config/vim/my_plugins/vim-abolish"]
	path = config/vim/my_plugins/vim-abolish
	url = https://github.com/tpope/vim-abolish
[submodule "config/vim/my_plugins/rust"]
	path = config/vim/my_plugins/rust
	url = https://github.com/rust-lang/rust.vim
[submodule "config/vim/my_plugins/vim-markdown"]
	path = config/vim/my_plugins/vim-markdown
	url = https://github.com/plasticboy/vim-markdown
[submodule "config/vim/my_plugins/vim-gist"]
	path = config/vim/my_plugins/vim-gist
	url = https://github.com/mattn/vim-gist
[submodule "config/vim/my_plugins/vim-ruby"]
	path = config/vim/my_plugins/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby
[submodule "config/vim/my_plugins/typescript-vim"]
	path = config/vim/my_plugins/typescript-vim
	url = https://github.com/leafgarland/typescript-vim
[submodule "config/vim/my_plugins/vim-javascript"]
	path = config/vim/my_plugins/vim-javascript
	url = https://github.com/pangloss/vim-javascript
[submodule "config/vim/my_plugins/vim-python-pep8-indent"]
	path = config/vim/my_plugins/vim-python-pep8-indent
	url = https://github.com/Vimjas/vim-python-pep8-indent
[submodule "config/vim/my_plugins/vim-indent-guides"]
	path = config/vim/my_plugins/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides
[submodule "config/vim/my_plugins/mru"]
	path = config/vim/my_plugins/mru
	url = https://github.com/vim-scripts/mru.vim
[submodule "config/vim/my_plugins/editorconfig-vim"]
	path = config/vim/my_plugins/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim
[submodule "config/vim/my_plugins/dracula"]
	path = config/vim/my_plugins/dracula
	url = https://github.com/dracula/vim
[submodule "config/vim/my_plugins/vim-airline-theme"]
	path = config/vim/my_plugins/vim-airline-theme
	url = git@github.com:vim-airline/vim-airline-themes.git
[submodule "config/vim/my_plugins/vim-one"]
	path = config/vim/my_plugins/vim-one
	url = git@github.com:rakr/vim-one.git
[submodule "config/vim/my_plugins/completor"]
	path = config/vim/my_plugins/completor
	url = https://github.com/maralla/completor.vim.git
[submodule "config/vim/my_plugins/edge"]
	path = config/vim/my_plugins/edge
	url = https://github.com/sainnhe/edge
[submodule "config/vim/my_plugins/polyglot"]
	path = config/vim/my_plugins/polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule "config/vim/my_plugins/onedark"]
	path = config/vim/my_plugins/onedark
	url = https://github.com/joshdick/onedark.vim
[submodule "config/vim/my_plugins/SimpylFold"]
	path = config/vim/my_plugins/SimpylFold
	url = https://github.com/tmhedberg/SimpylFold.git
[submodule "config/vim/my_plugins/YouCompleteMe"]
	path = config/vim/my_plugins/YouCompleteMe
	url = git@github.com:ycm-core/YouCompleteMe.git
[submodule "config/vim/my_plugins/tabular"]
	path = config/vim/my_plugins/tabular
	url = git@github.com:godlygeek/tabular.git
