layout {
    default_tab_template cwd="~/.local/share/nvim/site/pack/core/opt/GogoNvim/" {
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
        children
        pane size=1 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name="Neovim " {
        pane command="nvim"
    }
    floating_panes {
        pane {
            command "lazygit"
        }
    }
}

