# # /usr/share/wayland-sessions/
[Desktop Entry]
Name=My Hyprland
Comment=An intelligent dynamic tiling Wayland compositor
Exec=/usr/local/bin/my_hyprland
Type=Application
